:root {
    --primary-color: #ffffff
    --secondary-color: rgb(41, 73, 4);

}

* {
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
body {
    background: rgb(245, 248, 250);
    padding: 0;
    margin: 0;
}

.header {
    padding: 5px;
    font-family: fantasy;
    background-color: rgb(41, 73, 4);
    color:#ffffff
}

.header h1 {
    display: inline-block;
    font-size: 60px
}

.header div{
    padding-top: 15px;
    margin-right:20px;
    float: right;
    font-family: fantasy;
    font-size: 30px;
    width: 50%;
}

.header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

ul {
    list-style-type: disk;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.header nav ul li a {
     font-size: 20px;
}

.header nav ul li a {
    font-weight: lighter;
    padding: 10px 15px;
    text-shadow:0 0 10px rpg(0 0 0 / 50%);
}


.header ul {
    list-style: none;
    display: inline-block;
}

.header ul li {
    display: inline;
    margin: 10px;
    padding: 10px;
}

.header a {
    text-decoration: none;
    color: #ffffff;
    font-size:24px;
}


.hp {
    font-size: 65px;
    font-style: oblique;
    font-family:fantasy;
}

.me {
    width: -30px;
    height: -30px;
}

section { 
    padding: 60px;
    color: aqua;
}

.logic {
    width: 900px;
    margin: 0 auto 30px auto;
    background: rgb(41, 73, 4);
    color: lightslategray;
    overflow: auto;
}
