:root {
    --primary-color: #ffffff
    --secondary-color: rgb(41, 73, 4);
    --teritary-color: red;


}

* {
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
h2 {
    font-size: 30px;
    color:#ffffff
}
body {
    background: rgb(245, 248, 250);
    padding: 0;
    margin: 0;
}
 
h3 {
color:#ffffff;
font-size: 24px;
}
.header {
    padding: 5px;
    font-family: fantasy;
    background-color: rgb(41, 73, 4);
    color:#ffffff
}

.header h1 {
    display: inline-block;
    font-size: 60px
}

.header div{
    padding-top: 15px;
    margin-right:20px;
    float: right;
    font-family: fantasy;
    font-size: 30px;
    width: 50%;
}

.header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

ul {
    list-style-type: disk;
}
.profile_pic {
    width: 100%;
    height: 175px;
    background:url ('IMG_8212.PNG')
}


.header nav ul li a {
     font-size: 20px;
}

.header nav ul li a:hover {
    background: #ffffff;
    color:rgb(41, 73, 4);
    border-radius: 15px;
    text-shadow: none;
}
.header ul {
    list-style: none;
    display: inline-block;
}



.header ul li {
    display: inline;
    margin: 10px;
    padding: 10px;
}

.header a {
    text-decoration: none;
    color: #ffffff;
    font-size:24px;
}


.hp {
    font-size: 65px;
    font-style: oblique;
    font-family:fantasy;
}

.section { 
    padding: 60px;
    color: aqua;
}

.logic {
    width: 900px;
    margin: 0 auto 30px auto;
    background: rgb(41, 73, 4);
    color: lightslategray;
    overflow: auto;
}
